body {
  background-color: teal;
}

h1 {
  font-size: 40px;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif; /*お好きなフォントを選んでください*/
  overflow: hidden;
  line-height: 1; /*line-heightなくしたほうがカッコ良くなります*/
  letter-spacing: -0.07em;
}
p {
  font-family: "Times New Roman", Times, serif; /*お好きなフォントを選んでください*/
  font-size: 28px;
  font-weight: bold;
  line-height: 1.1;
  overflow: hidden;
  /* word-break: break-all;
  width: 400px; */
  margin: 4px 0;
}

button {
  margin-top: 40px;
  padding: 8px 12px;
}

.char {
  transform: translateY(120%) rotate(30deg);
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.char2 {
  transform: translateY(120%) rotate(30deg);
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.char3 {
  transform: translateY(120%) rotate(30deg);
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
